.dashboard {
    display: flex;
    padding: 0px;
    padding-top: 0px;
  }
  
  .sidebar {
    width: 200px;
    background-color: #7c713f;
    padding: 20px;
    padding-right: 10px;
    padding-top: 10px;
    height:700px;
  }
  
  .sidebar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .main {
    flex: 1;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header input {
    width: 300px;
    padding: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info .notifications {
    margin-right: 20px;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%;
  }
  
  .card h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .card p {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .card .negative {
    color: red;
  }
  
  .card .positive {
    color: green;
  }
  
  .chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  